nav {
  background-color: lightblue;
}
#firsttext{
  font-size:40px; 
  color: white;
  font-family: Georgia;
}
.logos{
  height: 25px;
  width: 25px;
}
#myVideo{
  opacity: .9;
  filter: brightness(70%);
}

.content {
  position: sticky;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  color: WHITE;
  width: 100%;
  padding: 10px;
  text-align: CENTER;
}
body{
  background-color:black;
}
